<!DOCTYPE HTML>

<html>
  <head>
	
	<link rel="stylesheet" href="/css/style.css">

  	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  	<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>


  	<script type="text/javascript" src="/js/yelp.js"></script>

  </head>
  <body>
  
	  <div id="map-canvas">
	  </div>

	  <form id='searchPlaceForm' action="/places" method="POST">
	  	<div id='formStyle'>
	  		<div>
	  			<label for="name">Name:</label>
	  			<input type="text" name="name" id="name" autofocus>
	  		</div>
	  		<div>
	  			<label for="city">Address, city or location:</label>
	  			<input type="text" name="city" id="city">
	  		</div>
	  		<div id='submitButton'>
	  			<input type="submit" value="Search!">
	  		</div>
	  	</div>
	  </form>

	  <div id="resultsContainer">
	  	
	  </div>



  </body>
</html>