<!DOCTYPE HTML>

<html>
  <head>

  	<title>yopics - Topic Modeling in Yelp</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css">

	<link rel="stylesheet" href="/css/style.css">

  	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  	<script src="//maps.googleapis.com/maps/api/js?v=3.21&libraries=places"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  	<script src="/js/yelp.js"></script>

  </head>
  <body>
  	<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
  	        <span class="sr-only">Toggle navigation</span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	      </button>
  	      <a class="navbar-brand" href="/">yopics</a>
  	      <ul class="nav navbar-nav navbar-right">
              <li><a href="#">about</a></li>
          </ul>
  	    </div>  
  	  </div>
  	</nav>
	
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">App not fully functional</h4>
          </div>
          <div class="modal-body">
            While parts of this application are working, I have removed its core because AWS hosting fees are expensive. Specifically, the flask application that hosted the trained 11gb model that was used to predict topics for yelp reviews is not available.
            <br><br>
            To see the application in action and for an overview of how it works, <a href="http://prezi.com/1yy4lqqxevdb/?utm_campaign=share&utm_medium=copy" target="_blank">check out this presentation with a video.</a> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

	  <div id="resDiv" class="dropdown" style="margin-left: 10px;">
		<form id='searchPlaceForm' action="">
			<input class="formName controls" style="margin-bottom: 15px;" type="text" placeholder="Search Term">
  	    	<input id="pac-input" class="formLoc controls" type="text" placeholder="Location, Address, City">
    		<input class="controls" type="submit" value="Go!" data-container="body" data-toggle="popover" data-placement="bottom" data-content="While nearby locations are displayed for you, in order to see the full power of this application in topic modeling, please search a city for which I have locations in the database. 

			Also, your best bet is to choose one of the first results for that city (OR just see this example: http://yopics.herokuapp.com/locations/5568)
			
  	    	Cities include:  
			
  	    	San Francisco 
  	    	Los Angeles 
  	    	New York
  	   	 	San Diego 
  	    	Phoenix 
  	    	Chicago 
  	    	Houston 
  	    	Dallas 
  	    	San Antonio  
  	    	Philadelphia" data-original-title="">
  	    </form>
  	    <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Nearby Locations &nbsp <span class="caret"></span>
    	</a>
    	<ul class="dropdown-menu" style="height: 800%; overflow-y:scroll;">
	    </ul>	
	  </div>

	  <div id="map">
	  </div>

	  <!-- <form id='searchPlaceForm' action="/places" method="POST">
	  	<div id='formStyle'>
	  		<div>
	  			<label for="name">Name:</label>
	  			<input type="text" name="name" id="name" autofocus>
	  		</div>
	  		<div>
	  			<label for="city">Address, city or location:</label>
	  			<input type="text" name="city" id="city">
	  		</div>
	  		<div id='submitButton'>
	  			<input type="submit" value="Search!">
	  		</div>
	  	</div>
	  </form> -->

	  <div id="resultsContainer">
	  	
	  </div>

  </body>
</html>