<!DOCTYPE HTML>

<html>
  <head>
	
	<link rel="stylesheet" href="/css/style.css">

  	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  	<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>


  	<script type="text/javascript" src="/js/yelp.js"></script>

  </head>
  <body>
  <div id="map-canvas"></div>

    Hello!

  </body>
</html>