<!DOCTYPE HTML>

<html>
  <head>
  	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  	<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>


  	<script type="text/javascript" src="/js/google.js"></script>

  </head>
  <body>
  
    Hello!

  </body>
</html>